<% include _header %>
<div class="index">
  <% infos.forEach(function(info) { %>
  <div class="info"><%= info %></div>
  <% }) %> <% msg.forEach(msg => {%>
  <div class="message">
    <div class="message-header">
      <div><strong><%= msg.title %></strong></div>
      <!-- show delete button only when user is an admin -->
      <% if (currentUser) {%> <% if (currentUser.admin === true) {%>
      <form action="" method="post">
        <button class="delete-btn">
          <img src="images/trash.png" alt="" />
          <input type="hidden" value="<%= msg.id %>" name="msg_id" />
        </button>
      </form>
      <%}%> <%}%>
    </div>
    <div class="text"><%= msg.text %></div>
    <!-- show author and date only when user is a member -->
    <% if (currentUser) {%> <% if (currentUser.membershipStatus === true) {%>
    <div class="reverseMsg">
      <div class="author">
        <img alt="messageUser" src="images/user.png" /><%= msg.author %>
      </div>
    </div>
    <div class="reverseMsg">
      <div class="date">
        <img alt="" src="images/clock.png" /><%= msg.createdAt %>
      </div>
    </div>
    <%} else {%>
    <div class="reverseMsg">
      <div class="author">
        <img alt="messageUser" src="images/user.png" />Anonymous
      </div>
    </div>
    <div class="reverseMsg">
      <div class="date"><img alt="" src="images/clock.png" />Unknown date</div>
    </div>
    <%}%> <%} else {%>
    <div class="reverseMsg">
      <div class="author">
        <img alt="messageUser" src="images/user.png" />Anonymous
      </div>
    </div>
    <div class="reverseMsg">
      <div class="date"><img alt="" src="images/clock.png" />Unknown date</div>
    </div>
    <%}%>
  </div>
  <%})%>
</div>
<% include _footer %>
